<ul>
        <li>
                <a href="{{ '/' | prepend: site.baseurl | prepend: site.url }}">Home</a><span>/</span>
        </li>
        <li>
                <a href="{{ '/blog' | prepend: site.baseurl | prepend: site.url }}">Posts</a><span>/</span>
        </li>
        <li>
                <a href="{{ '/external' | prepend: site.baseurl | prepend: site.url }}">Outsourced Posts</a><span>/</span>
        </li>
        <li>
                <a href="{{ '/writeups' | prepend: site.baseurl | prepend: site.url }}">Writeups</a><span>/</span>
        </li>
        <li>
                <a href="{{ '/about' | prepend: site.baseurl | prepend: site.url }}">About</a><span>/</span>
        </li>
        <!--
                {% if site.p1kachu.social.github %}
                <li>
                <a title="{{ site.p1kachu.social.github }} on Github"
                href="https://github.com/P1kachu" target="_blank">
                Download
                </a><span>/</span>
                </li>
                {% endif %}
        -->
</ul>
